.a{
	border:solid;
	border-color: white;
	background-color: pink;
	height: 960px;
	width: 1000px;
}
.b{border:solid;
   width: 800px;
   height: 860px;
   border-right: 200px;
   border-top: 50px;


}