body{
      width: 100%;
      height: 1000px;
      background-image: url("../image/hinhnen.jpg");
    }
.tongquan{
  width: 1200px;
  margin-left: 150px;
} 

/* Phần header */
.header{
  width: 100%;
  height: 100px;
  background-color: white;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.logo{
  float: left;
  margin-right: 30px;
}
h1{
  float: left;
}


/* Phần menu */
.thanhmenu{
  height: 75px;
  
  border-top: 3px solid white;
  background-color: #b6ad89;
  }
  button {
    width: 234px;
    height: 70px;
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    opacity: 0.5;
    filter: alpha(opacity=50);
    
}

button:hover{
  background-color: #3e8e41;
  border-bottom: 5px solid red;
}
.menuchinh {
    position: relative;
    display: inline-block;
}

.menuphu {
    display: none;
    position: absolute;
    background-color: #b6ad89;
    min-width: 237px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.menuphu a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.menu:hover{background-color: #f1f1f1}
.menuphu a:hover {background-color: #3e8e41}
.menuchinh:hover .menu {
    background-color: #3e8e41;
}
.menuchinh:hover .menuphu {
    display: block;
}

.sticky {
  position: fixed;
  top: 0;
  width: 1200px;
  margin-right: 100px;
  z-index: 999;
}

.sticky + .content {
  padding-top: 0px;
}

/* Phần footer */
.footer{
  text-align: center;
  background-color: pink;
  opacity: 0.3;
  filter: alpha(opacity=10); 
  padding-top: 20px;
  padding-bottom: 20px;
}
ul{
  list-style-type: none;
    display: block;
    margin-left: 30%;
}
li{
  float: left;
}
/* Phần liên kết ngoài */
.lienketngoai{
  position: fixed;
  top: 100px;
  left: 20px;
}

.icon{
  width: 50px;
  height: 50px;
  opacity: 0.2;
  filter: alpha(opacity=20); 

}
.icon:hover{
  opacity: 1;
  transform: scale(1.5);
}
.top-up{
  background-color: #9d9d9d;
  opacity: 0.4;
  filter: alpha(opacity=40); 
  position: fixed;
  top: 690px;
  right: 50px; 
}
.giohang{ 
  position: fixed;
  top: 100px;
  right: 50px;
}
/*Phần giới thiệu*/
.phangioithieu{
  background-image: url("../image/");
}
