body{
      width: 100%;
      height: 1000px;
      background-image: url("../image/hinhnen.jpg");
    }
.tongquan{
  width: 80%;
  margin-left: 10%;
} 

/* Phần header */
.header{
  width: 100%;
  height: 100px;
  background-color: white;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.logo{
  float: left;
  margin-right: 30px;
}
h1{
  float: left;
}
.ngonngu{
  float: right;
}

/* Phần menu */
.menuchinh{
padding: 10px 25px 10px 25px;
}
.menuchinh:hover{
  color: white;
  background-color: blue;
}
/* Phần footer */
.footer{
  text-align: center;
  background-color: pink;
  opacity: 0.3;
  filter: alpha(opacity=10); 
  padding-bottom: 30px;
}
ul{
  list-style-type: none;
    display: block;
    margin-left: 30%;
}
li{
  float: left;
}
/* Phần liên kết ngoài */
.lienketngoai{
  position: fixed;
  top: 100px;
  left: 20px;
}

.icon{
  width: 50px;
  height: 50px;
  opacity: 0.2;
  filter: alpha(opacity=20); 

}
.icon:hover{
  opacity: 1;
  transform: scale(1.5);
}

/*Phần giới thiệu*/
.phangioithieu{
  background-image: url("../image/");
}
.btn-top {
    
    background-repeat: no-repeat;
    border: medium none;
    bottom: 20px;
    cursor: pointer;
    display: none;
    height: 50px;
    outline: medium none;
    padding: 0;
    position: fixed;
    right: 20px;
    width: 50px;
    z-index: 9999;
}