.title{
	border-bottom: solid 1px #cccccc;
}
section{
	display: none;
	padding: 20px 0 0;
	border-top: 1px solid #ddd;
}
input.tab{
	display: none;
}
label{
	display: inline-block;
	margin: 0 0 -1px;
	padding:15px 25px;
	font-weight: 600;
	text-align: center;
	color: #3399cc;
	border: 1px solid transparent;
	border-radius: 5px;
	margin-top: 30px;
}
label:before{
	font-family: fontawesome;
	font-weight: normal;
	margin-right: 10px;
}
label:hover{
	color: #888;
	cursor: pointer;
}
input:checked+label{
	color: #555;
	border: 1px solid #ddd;
	border-top: 1px solid;
	border-bottom:1px solid #fff;
}
#tabs1:checked~#form1,
#tabs2:checked~#form{
	display: block;
}
@media screen and (max-width: 650px){
	label{
		font-size: 0;
	}
	label:before{
		margin: 0;
		font-size: 18px;
	}
}
@media screen and (max-width: 400px){
	label{
		padding:15px;
	}
}
.footer{
	border-top: solid 1px;
}