p.a {border-style: dotted;}

p.b {border-style: dotted;
	border-color:red;}

p.c {border-top: 4px dotted red;}

p.d {border: 10px solid;
    border-color: red;}

p.e{padding-top: 60px;
 	background-color: green;}

p.f{padding: 50px;
 	background-color: green;}

p.g{padding-top: 25px;
 	padding-right: 50px;
 	padding-bottom: 25px;
 	padding-left: 50px;
 	background-color: green;}

div.a{border: 30px solid;
padding: 25px;
width: 200px;
margin: 25px;
border-color: red;
background-color: green;}
h1.a{height: 100px;
  	background-color: green;}
 h1.b{height: 50px;
  	background-color: green;}
div.b {border-top: 4px solid yellow;
	border-right: 4px #99ff00 solid ;
 	border-bottom: 4px solid purple;
 	border-left: 4px solid green;}
p.j{border: 1px solid;
 	background: purple;
 	margin: 3px;}

 div.c{border: 15px solid;
 	border-color: red;
 	background:yellow;}

div.ab{
border-style:dotted;
border-color:green;
}

p.abc{border: 1px solid;
 	background: purple;
 	margin-bottom: 20px;
 margin-right:3px;
 	margin-left: 3px;}
 p.abcd{border: 1px solid;
 	background: red;
 	margin-bottom: 40px;
 margin-right:3px;
 	margin-left: 3px;}
 p.abce{border: 1px solid;
 	background: yellow;
 	margin-bottom: 50px;
 	margin-right:3px;
 	margin-left: 3px;
 }

div.abc{border-top: 4px solid yellow;
	border-right: 4px #99ff00 solid ;
 	border-bottom: 4px solid purple;
 	border-left: 4px solid green;}



