
h2{
	border-bottom: 3px solid yellow;
	padding-bottom: 20px;
	width: 750px;
	margin: 2px;
}
.h1{
	border-bottom: 0.1px solid #c6c6ef;
	width: 750px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	margin-left: 2px;
	margin-top: 20px;
}
.h11, .h21{
	float: right;
	width: 530px;
	margin-top: -20px;
}
.h2{
	width: 750px;
	margin-left: 2px;
}
.a, .b{
	color: #b3a1af;
	font-size: 10px;
}