.a { padding: 50px;
background-color: #ffa500;}
h1 { color: #ffffff;
margin-left: -35px;}
.b ul,li{
	display: inline;

}
 .b ul{margin-left:-35px }
 .c {padding: 30px;
 	background-color: #d3d3d3;}
 .c h3{margin-left: -20px;}

 .d {padding: 30px;
background-color: #ffa500;
color: #ffffff;}
.d h3{margin-left: -20px}
