.dau{
			width: 880px;
		}
		.a{
			float: left;
			height: 330px;	
			position: relative;
		}
	
		.b{
			text-decoration: none;
			position: absolute;
    		left: 0;
    		right: 0;
    		bottom: 0;
    		color: #FFF;
			font-size: 22px;
			background-color: rgba(0,0,0,0.6);
			text-align: center;
			padding: 10px;
		}

		.c{
			float: left;
			height: 330px;
			width: 400px;
		}

		.c ul{
			list-style-image: url("../anh/dot.png");
		}

		.c li{
			background-color: #ebebeb;
			margin-bottom: 6px;
			list-style-position: inside;
			margin-left: -30px;
		}

		.c a{
			text-decoration: none;
			color: black;
		}

		.d{
			background-color: #ebebeb;
			margin-top: -10px;
			margin-left: 10px;
		}
		.d a{
			background-color: #8b8a8b;
			margin-left: 130px;
			color: white;
		}

		.giua{
			width: 880px;
			clear: left;
		}
		.than{
			float: left;
			width: 33%;
		}
		.than img{
			margin-top: 10px;
			width: 270px;
		}

		.than a{
			text-decoration: none;
			color: black;
		}

		.q{
			width: 880px;
			border-top: 1px solid #ebebeb;
			clear: left;
			padding-top: 10px;
		}

		.cc{
			width: 48%;
			float: left;
			padding-right: 10px;
		}

		.cc img{
			float: left;
		}

		.cc a{
			text-decoration: none;
			color: black;
		}